extends layout

block content
  .container
    .row
      each contest in contests
        a.col-12.col-sm-6.jumbotron-wrap(href=`/contests/${contest.id}`)
          .jumbotron(class=`contest-${contest.isStarted() ? contest.id : 'unknown'}`)
            h1.display-5= contest.name
            p.lead
              strong= contest.spanText()
            p.lead
              .btn.btn-lg(class=contest.isEnded() ? 'btn-dark' : 'btn-primary', href=`/contests/${contest.id}`, role='button')
                if contest.isEnded()
                  | View Result
                else
                  | Join Now!
