extends layout

include mixins

block head
  meta(name='data', content=JSON.stringify(battles))
    
  // TODO: kesu
  script(defer=true).
    document.addEventListener('DOMContentLoaded', () => {
      const battles = JSON.parse(document.querySelector('meta[name=data]').getAttribute('content'));
      const visualizer = document.querySelector('.match-visualizer');
      const rows = document.querySelectorAll('.match-visualizer .row');
      const button = document.querySelector('.show-visualizer');
      button.addEventListener('click', async () => {
        visualizer.style.display = 'block';
        let red = 0;
        let blue = 0;
        for (const [index, battle] of battles.entries()) {
          if (index % 2 === 0) {
            red += battle.scores[0];
          } else {
            blue += battle.scores[0];
          }
        }
        const rowList = Array.from(rows);
        const totalRow = rowList[rowList.length - 1];
        totalRow.querySelector('.score:first-child').textContent = red;
        totalRow.querySelector('.score:last-child').textContent = blue;
        for (const row of rowList) {
          row.style.visibility = 'visible';
          await new Promise((resolve) => setTimeout(resolve, 1000));
        }
        if (red < blue) {
          visualizer.querySelector('.result').textContent = document.getElementById('red').textContent + ' Won!!';
          visualizer.querySelector('.result').style.color = 'red';
        }
        if (red > blue) {
          visualizer.querySelector('.result').textContent = document.getElementById('blue').textContent + ' Won!!';
          visualizer.querySelector('.result').style.color = 'blue';
        }
      })
    });

block content
  .container.content
    if !contest.isStarted() && (!user || !user.admin)
      include partials/countdown.pug
    else
      .page-header
        h1= match.versusText()
        
      if match.result === 'pending'
        h2 Match is pending...
      else
        button.show-visualizer Show result
        .match-visualizer(style={display: 'none'})
          .players
            .player#red(style={color: 'red'})= match.players[0].userText()
            .player#blue(style={color: 'blue'})= match.players[1].userText()
          .battles
            for battle in battles
              .row(style={visibility: 'hidden'})
                for score, index in battle.scores
                  .score= score
                  if index === 0
                    .hyphen -
            .row.total(style={visibility: 'hidden'})
              .score x
              .hyphen -
              .score x
            .result 
      
      .page-header
        h3 Battles

      .table-responsive
        table.table
          thead
            tr
              if contest.type === 'battle'
                th Player1
                th Player2
              th Config
              if contest.type === 'battle'
                th Result
              else if contest.type === 'score'
                th Score
              th Date
          tbody
            each battle in battles
              tr
                if contest.type === 'battle'
                  td
                    if battle.players[0].isPreset
                      = battle.players[0].userText()
                    else
                      a(href=`../submissions/${battle.players[0]._id}`)= battle.players[0].userText()
                  td
                    if battle.players[1].isPreset
                      = battle.players[1].userText()
                    else
                      a(href=`../submissions/${battle.players[1]._id}`)= battle.players[1].userText()
                td= battle.configText(contest)
                if contest.type === 'battle'
                  td
                    if battle.result === 'pending'
                      | Pending
                    else if battle.result === 'running'
                      | Running
                    else if battle.result === 'draw'
                      | Draw
                    else if battle.result === 'settled'
                      = battle.getWinner().userText()
                      = ' '
                      | Won
                else if contest.type === 'score'
                  td= battle.scoreText()
                td
                  a(href=`../battles/${battle._id}`)= battle.timeText()
