extends layout

include mixins

block content
  .container.content
    if turn.getSubmission().isViewableBy(user) || contest.isEnded()
      if turn.getSubmission().code !== null
        p
          pre!= turn.getSubmission().getHighlight()

    if user.admin && turn.error
      h4 Error

      p= turn.error.name
      pre= turn.error.stack

    h4 duration
    p
      = turn.duration
      = ' '
      | ms

    h4 stdin
    p
      pre= turn.input

    h4 stdout
    p
      pre= turn.stdout

    if turn.getSubmission().isViewableBy(user) || contest.isEnded()
      h4 stderr
      p
        pre= turn.stderr
